/* 对于基本控件的处理 */

/* --背景 */

html > body {
  background: url(https://i.loli.net/2018/12/22/5c1deea79335a.jpg) fixed;
  background-size: cover;
  background-attachment: fixed;
}

/* --顶栏 */

#app-header {
  background-color: transparent !important;
}

.content > header {
  background-color: transparent !important;
}

.content {
  color: #333333 !important;
}

/* --加载进度条处理 */

#nprogress .nprogress-peg {
  display: none;
  box-shadow: none !important;
}

/* --选中内容的样式 */

::selection {
  background-color: #cce2ff;
}

::-moz-selection {
  background-color: #cce2ff;
}

::-webkit-selection {
  background-color: #cce2ff;
}

/* --滚动条 */

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .05);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5e72e4;
}

/* --超链接 */

a {
  transition: all .15s;
  color: #5e72e4;
}

/* --颜色定义 */

.lg-fg-green {
  color: #2dce89 !important;
}

.lg-bg-red {
  background-color: #fb6340;
}

.lg-bg-orange {
  background-color: #ff9d09;
}

.lg-bg-purple {
  background-color: #8e44ad;
}

.lg-bg-green {
  background-color: #2dce89;
}

.lg-bg-bluedark {
  background-color: #001277;
}

/* --动画定义 */
@keyframes fadeLeft {

  from {
    transform: translateX(-25px);
    opacity: 0;
  }
}

/* --输入框 */

.am-input-group {
  transition: box-shadow .15s ease;
  border: none;
  border-radius: .5rem !important;
}

.am-form-field {
  border: none;
  border-radius: .5rem !important;
  box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}

.am-form-field:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .08), 0 1px 3px rgba(0, 0, 0, .05) !important;
}

.am-input-group-label {
  background: transparent;
  border: none;
}

.am-input-group-sm > .am-form-field,
.am-input-group-sm > .am-input-group-label {
  font-size: 1.35rem !important;
}

.am-input-group-danger,
.am-input-group-primary {
  box-shadow: none;
}

.am-input-group-danger > .am-input-group-label,
.am-input-group-primary > .am-input-group-label {
  border-radius: .5rem !important;
  outline: none !important;
  letter-spacing: .05em;
  transition: all .15s ease;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #ffffff !important;
  margin-bottom: 6px;
  height: 33.4px;
}

.am-input-group-danger > .am-input-group-label {
  border-color: #f5365c;
  background-color: #ec0c38;
}

.am-input-group-primary > .am-input-group-label {
  border-color: #5e72e4;
  background-color: #5e72e4;
  border-radius: .5rem !important;
}

.am-input-group-danger > .am-input-group-label:hover,
.am-input-group-primary > .am-input-group-label:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.am-input-group-danger > .am-input-group-label:active,
.am-input-group-primary > .am-input-group-label:active {
  box-shadow: none;
}

textarea {
  box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
  border: none !important;
}

textarea:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .08), 0 1px 3px rgba(0, 0, 0, .05) !important;
}

/* -特判顶部工具条搜索 */

#topbar-search-text {
  border-radius: .5rem 0 0 .5em !important;
}

#topbar-search {
  border-radius: 0 .5rem .5em 0 !important;
  border-color: #5e72e4;
  background-color: #5e72e4;
}

/* 卡片透明度 */

.lg-article,
.lg-summary,
.lg-article-sub,
.lg-content-table-left,
.am-progress {
  opacity: .75;
  background: rgba(255, 255, 255, .75);
}

/* --卡片 */

.lg-article,
.lg-summary,
.lg-article-sub {
  transition: all .15s ease;
  box-shadow: 0 5px 15px rgba(50, 50, 93, .1), 0 5px 8px rgba(0, 0, 0, .07) !important;
  word-wrap: break-word;
  border-radius: .25rem;
  background-color: #fcfcfc;
}

.lg-article:hover,
.lg-summary:hover,
.lg-article-sub:hover {
  box-shadow: 0 10px 30px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
}

/* --按钮 */

.am-btn {
  outline: none !important;
  border: none !important;
  letter-spacing: .05em;
  padding: 8px 18px;
  transition: all .15s ease;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #ffffff !important;
  margin-bottom: 6px;
}

.lg-main-content.solution-block {
  margin-top: 0 !important;
}

.am-btn:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  transform: translateY(-1px);
}

.am-btn:active {
  box-shadow: none;
}

.am-input-group-sm > .am-input-group-btn > .am-btn {
  font-size: 1.35rem !important;
}

.am-btn-danger,
.am-btn-danger:hover,
.am-btn-danger:active,
.am-btn-danger:focus,
.am-btn-danger:visited {
  border-color: #f5365c;
  background-color: #ec0c38;
}

.am-btn-primary,
.am-btn-primary:hover,
.am-btn-primary:active,
.am-btn-primary:focus,
a.am-btn-primary:visited {
  border-color: #5e72e4;
  background-color: #5e72e4;
}

.am-btn-success,
.am-btn-success:hover,
.am-btn-success:active,
.am-btn-success:focus,
a.am-btn-success:visited {
  border-color: #2dce89;
  background-color: #2dce89;
}

.am-btn-warning,
.am-btn-warning:hover,
.am-btn-warning:active,
.am-btn-warning:focus,
a.am-btn-warning:visited {
  border-color: #fb6340;
  background-color: #fb6340;
}

/* --Tooltip */

.tip-twitter {
  background: #172b4d;
  color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.tip-twitter > div {
  font-weight: unset !important;
  font-size: 13px !important;
  margin-left: 5px;
  margin-right: 5px;
}

/* --标签 */

.am-badge {
  border-radius: 50px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all .15s;
}

.am-badge:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.am-badge.lg-bg-red {
  background-color: #f80031;
}

.am-badge.lg-bg-orange {
  background-color: #ff471d;
}

.am-badge.lg-bg-yellow {
  background-color: #ff9d09;
}

.am-badge.lg-bg-green {
  background-color: #1aae6f;
}

.am-badge.lg-bg-bluelight {
  background-color: #03acca;
}

.am-badge.lg-bg-purple {
  background-color: #8e44ad;
}

.am-badge.lg-bg-bluedark {
  background-color: #001277;
}

.am-badge.am-badge-warning {
  background-color: #fb6340;
}

/* --菜单 */

.am-dropdown-content {
  padding: 1.5rem;
  border-radius: .25rem;
  background: #ffffff;
  width: 300px;
  border: none;
  margin-top: 5px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
}

.am-dropdown-content:before,
.am-dropdown-content:after {
  display: none !important;
}

/* --私信提示浮窗 */

.lg-unread {
  line-height: 60px;
  width: 60px;
  height: 60px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  transition: all .15s ease;
  color: #ffffff;
  background-color: #5e72e4;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  overflow: hidden;
}

/* --消息内容 */

.am-comment-main {
  border: none;
  box-shadow: 0 3px 5px rgba(50, 50, 93, .1), 0 2px 3px rgba(0, 0, 0, .08);
  transition: all .15s;
  opacity: .75;
}

.am-comment-main:hover {
  border: none;
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  opacity: .75;
}

.am-comment-main:before,
.am-comment-main:after {
  display: none;
}

/* -未登录时登录条的处理 */

.lg-toolbar > .lg-index-tool {
  box-shadow: 0 5px 15px rgba(50, 50, 93, .1), 0 5px 8px rgba(0, 0, 0, .07) !important;
  background: #f4f5f7;
  padding: 50px 40px;
  color: #32325d;
}

/* --列表 */

.lg-content-table-left {
  background: #fcfcfc;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
  border-radius: .375rem;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  position: relative;
}

.lg-content-table-left > .lg-table-row {
  width: 100% !important;
  box-shadow: none;
  background: transparent;
  border-radius: 0;
  border-bottom: .6px solid rgba(0, 0, 0, .08);
  border-spacing: 2px;
  padding-bottom: 20px;
}

.lg-content-table-left > .lg-table-row:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

/* --犇犇Tab条 */

/* 此处使用了不太好的适配器解决方案，日后可能会优化 */

.lg-index-benben > .lg-article:nth-of-type(2) {
  box-shadow: none !important;
  background: transparent;
}

.feed-selector > a {
  font-weight: 500;
  transition: all .15s ease;
  color: #5e72e4;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 5px !important;
  height: 50px;
  line-height: 36px;
}

/* --其余Tab条 */

.am-nav-tabs li > a {
  font-weight: 500;
  transition: all .15s ease;
  color: #5e72e4;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 5px !important;
  height: 50px;
  line-height: 36px;
  padding-left: 20px;
  padding-right: 20px;
  border: none !important;
  margin-right: 10px;
}

.am-nav-tabs {
  border: none;
  margin-bottom: 20px;
}

.am-tabs-bd {
  border-radius: 5px;
  border: .6px solid rgba(0, 0, 0, .1);
  background: transparent;
}

/* --页码 */

.am-pagination {
  padding-top: 20px;
  padding-bottom: 20px;
}

.am-pagination > li > a {
  cursor: pointer;
  line-height: 1.25;
  position: relative;
  display: block;
  margin: 0 3px;
  margin-left: -.0625rem;
  padding: .5rem .75rem;
  color: #8898aa;
  border: .0625rem solid #dee2e6;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: unset;

  /* display: flex; */
  min-width: 36px;
  height: 36px;
  border-radius: 100px !important;
  align-items: center;
  justify-content: center;
}

.feed-selector.am-active > a {
  color: #ffffff;
  background: #5e72e4 !important;
}

.am-pagination > .am-active > a {
  color: #ffffff;
  border-color: #5e72e4;
  background-color: #5e72e4;
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.am-nav-tabs li.am-active > a {
  color: #ffffff !important;
  background: #5e72e4 !important;
}

.am-pagination > .am-active > a:hover {
  color: #ffffff;
  border-color: #5e72e4;
  background-color: #5e72e4;
}

/* --评测详情色块 */

.lg-record-tile {
  transition: all .15s ease;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 3px;
}

.lg-record-tile:hover {
  transition: all .15s ease;
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

/* --头像 */

.am-comment-avatar {
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
  border: none;
  transition: all .15s;
}

.am-comment-avatar:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.am-panel-bd .am-comment-avatar,
.lg-message-content .am-comment-avatar,
.lg-message-contact .am-comment-avatar,
.lg-inline-up .am-comment-avatar,
.lg-header-li .am-comment-avatar {
  box-shadow: none;
}

/* --卡片面板 */

.am-panel {
  border: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

/* --团队成员卡 */

.lg-mcard {
  border: none;
  transition: all .15s ease;
  box-shadow: 0 2px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 3px;
}

.lg-mcard:hover {
  transition: all .15s ease;
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

/* --进度条 */

.lg-table-small {
  margin-top: 5px;
}

.am-progress {
  border-radius: .5rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.am-progress-bar-secondary,
.am-progress-bar {
  background-color: #5e72e4;
}

/* --复选框 */

.am-ucheck-checkbox:checked + .am-ucheck-icons,
.am-ucheck-radio:checked + .am-ucheck-icons,
.am-ucheck-checkbox:hover:not(.am-nohover):not(:disabled) + .am-ucheck-icons,
.am-ucheck-radio:hover:not(.am-nohover):not(:disabled) + .am-ucheck-icons {
  color: #5e72e4;
}

.am-checkbox .am-icon-unchecked:before,
.am-checkbox-inline .am-icon-unchecked:before {
  content: "";
  border: 1px solid rgba(0, 0, 0, .1);
  height: 15px;
  width: 15px;
  border-radius: 3px;
  margin-top: 3px;
}

/* --404页面 */

.lg-info-box > #pic,
.lg-info-box > .lg-stamp {
  display: none;
}

.lg-info-box {
  color: #ffffff;
  border-color: #555abf;
  background-color: #555abf;
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: .25rem;
  min-height: 100px !important;
}

.lg-info-box > .am-text-left > h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.lg-info-box > .am-text-left > p {
  margin-top: 0;
  margin-bottom: 0;
}

.lg-info-box > .am-text-left .lg-small {
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, .6);
  display: block;
}

/* --对话框 */

.am-modal-dialog {
  box-shadow: 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .17);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .5rem;
  outline: 0;
  background-color: #ffffff;
  background-clip: padding-box;
}

.am-modal-dialog > #lg-alert-title,
.am-modal-dialog > #memtitle {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.3;
  color: #32325d;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 15px;
  border-bottom: .7px solid rgba(0, 0, 0, .1);
  margin-bottom: 15px;
}

.am-modal-dialog > #lg-alert-message,
.am-modal-dialog > #memadmin {
  line-height: 1.3;
  color: #32325d;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 25px;
  padding-top: 10px;
  border-bottom: .7px solid rgba(0, 0, 0, .1);
}

.am-modal-dialog .lg-model-content {
  margin-top: 10px;
}

.am-modal-btn {
  outline: none !important;
  border: none !important;
  letter-spacing: .05em;
  padding: 8px 18px;
  transition: all .15s ease;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #fafafa !important;
  height: unset;
  line-height: unset;
  border-radius: 5px !important;
  margin-right: 3px;
  display: inline-block !important;
}

.am-modal-btn,
.am-modal-btn:hover,
.am-modal-btn:active,
.am-modal-btn:focus,
a.am-modal-btn:visited {
  border-color: #5e72e4;
  background-color: #5e72e4;
}

.am-modal-btn:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  transform: translateY(-1px);
}

.am-modal-btn:active {
  box-shadow: none;
}

.am-modal-footer {
  width: max-content;
  height: max-content;
  padding: 5px;
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-left: 15px;
}

/* ---一些细节的处理 */

.lg-message-contact:hover {/* 私信左列hover的颜色 */
  background: rgba(200, 200, 200, .2);
}

.lg-message-contact div:hover {
  background: transparent;
}

.am-selected-list li:hover {/* 弹出菜单项Hover处理 */
  background: rgba(200, 200, 200, .2) !important;
}

/* --底栏 */

#app-footer {
  margin-left: 0 !important;
}

/* --侧栏 */

#app-sidenav {
  background-color: transparent !important;
  line-height: normal !important;
}

#app-sidenav > a {
  color: #5e72e4 !important;
}
