/* check mark */

i.icon.check {
  background: transparent;
  width: 8px;
  height: 16px;
  display: inline-block;
  border-right: 5px solid green;
  border-bottom: 5px solid green;
  transform: rotate(45deg);
  margin-right: 10px;
}

/* render */

a.solved {
  color: #1fc51f;
}

a.unsolved {
  color: #ff6666;
}
