// mark

i.icon.check {
  background: transparent;
  width: 8px;
  height: 16px;
  display: inline-block;
  border-right: 5px solid green;
  border-bottom: 5px solid green;
  transform: rotate(45deg);
  margin-right: 10px;
}

// star

.star {
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #656565;
  transition: color .2s;
  margin: 0 10px;
  cursor: pointer;
  vertical-align: middle;

  &.stared {
    color: #ffcc2f;
    transition: color .2s;
  }
}

// 页边距

body {
  margin-left: 5%;
  margin-right: 5%;
}

// 去掉题目背景奇怪的蓝色

div.content {
  background: #ffffff00;
}

// 选择

::selection {
  background-color: #cce2ff;
  color: rgba(0, 0, 0, .87);
}
